<!-- filepath: /Users/horiuchiinori/game_manager/app/views/products/show.html.erb -->
<!-- filepath: /Users/horiuchiinori/game_manager/app/views/products/show.html.erb -->
<div class="container-fluid bg-light h-100" style="height: 100vh;">
  <div class="row h-100">
    <!-- 左サイドバー（PCのみ） -->
    <div class="col-3 col-md-2 bg-white text-dark d-none d-md-flex flex-column p-0 border-end h-100">
      <%= render "layouts/task_sidebar" %>
    </div>
    <!-- 中央チャットルーム -->
    <div class="col-12 col-md-8 d-flex flex-column h-100 p-0 bg-light">
      <%= render "layouts/chat_room" %>
    </div>
    <!-- 右サイドバー（PCのみ） -->
    <div class="col-3 col-md-2 bg-white d-none d-md-flex flex-column p-0 border-start h-100">
      <%= render "layouts/task_info_sidebar" %>
    </div>
  </div>
</div>

<!-- 左オフキャンバス（スマホ用タスク管理） -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="leftOffcanvas" aria-labelledby="leftOffcanvasLabel">
  <%= render "layouts/task_sidebar" %>
</div>

<!-- 右オフキャンバス（スマホ用タスクについて） -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="rightOffcanvas" aria-labelledby="rightOffcanvasLabel">
  <%= render "layouts/task_info_sidebar" %>
</div>