<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Gama", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <%# ここに他のナビゲーションリンクを追加可能 %>
      </ul>
      <div class="d-flex align-items-center me-auto">
        <% if user_signed_in? %>
          <form class="input-group" method="get" role="search"">
            <input class="form-control form-control-sm" type="search" name="q" placeholder="検索" aria-label="検索" style="min-width:0;">
            <button class="btn btn-outline-success btn-sm" type="submit">検索</button>
          </form>
        <% end %>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-3">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "アカウント情報", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>