<!-- タスク作成モーダル -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">タスク作成</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: [@project, @task]) do |f| %>
          <div class="mb-3">
            <%= f.label :title, "タスク名", class: "form-label" %>
            <%= f.text_field :title, class: "form-control", placeholder: "タスク名を入力" %>
          </div>
          <div class="mb-3">
            <%= f.label :description, "詳細", class: "form-label" %>
            <%= f.text_area :description, class: "form-control", rows: 5, placeholder: "詳細を入力" %>
          </div>
          <div class="modal-footer px-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            <%= f.submit "作成", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>